{# Common global html template files #}
{% extends 'website/base.html' %}
{% import 'website/lib.html' as lib with context %}

{% block head_css %}
    {{ super() }}
{% endblock %}

{% block page_body %}
	{{ super() }}
	<header id="header">
		{% block header_block %}
			{% include 'website/header.html' %}
		{% endblock %}
	</header>
	<main id="main">
	{% block main_block %}

	{% endblock %}    
	</main>
	
	{% block footer_block %}
    	<footer id="footer">
			{% include 'website/footer.html' %}
		</footer>
	{% endblock %}
{% endblock %}

{% block globals_js %}
	{{super()}}
{% endblock %}



