@import 'variables';

.side-appbar {
    width: $sidebar-open-width;
    transition: width $sidebar-easing-animation;
    transition-timing-function: ease;

    .toolbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}


.open {
    width: $sidebar-open-width;
    transition: width $sidebar-easing-animation;
    transition-timing-function: ease;
}

.close {
    transition: width $sidebar-easing-animation;
    transition-timing-function: ease;
    overflow-x: hidden;
    width: $sidebar-close-width;
}
