# config file used to generate requirements.txt
#
# pip-compile requirements.in --output-file requirements.txt

flask
flask-wtf
flask-admin
flask-alembic
flask-mail
flask-marshmallow
flask-restful
flask-security
flask-session
flask-sqlalchemy
flask-debugtoolbar
flask-breadcrumbs
flask-babel
flask-assets
flask-s3

boto3
jsmin
cssmin
sqlalchemy-mptt
gunicorn
sqlalchemy-utils
pyexcel
stripe
requests
loguru
appdirs
bcrypt
beautifulsoup4
celery
jinja2
jinja2-time
lxml
markdown
marshmallow-sqlalchemy
redis
psycopg2
python-dateutil
python-frontmatter
pytz
tzlocal
uwsgi