# config file used to generate requirements.txt
#
# pip-compile requirements.in --output-file requirements.txt

flask
flask-unchained[api,admin,celery,mail,graphene,oauth,security,session,sqlalchemy]
flask-debugtoolbar

appdirs
geoalchemy2
shapely
gunicorn
sqlalchemy-utils
stripe
requests
loguru
appdirs
bcrypt
jinja2
jinja2-time
markdown
marshmallow-enum
redis
psycopg2
python-dateutil
python-frontmatter
py-yaml-fixtures
pytz
tzlocal
