.block-edit {
    padding: 15px;

    .edit-title {
        margin-bottom: 10px;
    }

    .map-container {
        width: 100%;
        height: 250px;
    }

    .edit-description {
        margin: 0px 25px;

        h6 {
            margin-bottom: 15px;
        }

        button {
            margin-top: 25px;
        }
    }
}
