.drawer {
    width: 240px;
    flex-shrink: 0;
    white-space: nowrap;
    border: 1px solid rgba(0,0,0,0.1)
}

.drawer-open {
    width: 240px;
    transition: width ease-in-out 0.3s;
}

.drawer-close {
    transition: width ease-in-out 0.3s;
    overflow-x: hidden;
    width: 60px;

}

.drawer-toggle-button {
    float: right;
}

.drawer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drawer-item-content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .drawer-item-icon {
    margin-right: 12px;
  }
  
  .drawer-item-text {
    width: 100%;
  }
  
  .drawer-item-expand-arrow {
    font-size: 1.2rem !important;
  }
  
  .drawer-item-expand-arrow-expanded {
    color: #09bb12;
    font-weight: bold;
  }