.list-item {
    height: 70px;
    width: 100%;
    margin: 0;
    padding: 0 8px;
    cursor: pointer;

    &.selected {
        background-color: #f6f8f9;
    }

    .list-container {
        display: flex;
        align-items: center;
        min-height: 69px;
        margin: 0;
        font-size: 14px;
        position: relative;
    
        .MuiCardContent-root {
            padding: 0;
        }

        .list-cover {
            flex: 0 0 auto;
            width: 48px;
            height: 48px;
            border-radius: 4px;
            margin-right: 8px;
        }


        .list-action {
            position: absolute;
            right: -8px;
            padding: 8px;
        }
    
        .list-content {
            flex: 1 1 auto;
    
            .list-header {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 1rem;
                margin-bottom: 8px;
            }
    
            .list-meta {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 0.75rem;
    
            }

        }
    }
}

