@import 'variables';

.layout-content {
    .content{
        height: calc(100vh - #{$content-top-spacing-height} - 8px);
    
        > div {
            height: 100%;
            position: relative;
        }
    }
}

