.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
}

.dialog-content {
    overflow: initial;
}

.option-button {

    button {
        width: 200px;
        text-transform: initial;
        justify-content: left;
    }

    .description {
        margin-top: 10px;
    }
}