.item-holder {
    width: 200px;
    margin: 20px 10px;
    position: relative;
}

.item-click {
    cursor: pointer;
}

.item-holder.selected {
    border: 1px solid;
}

.item-header {
    padding-bottom: 0;
    position: absolute;
}

.item-image {
    height: 0;
    //padding-top: 56.25%;
    padding-top: 100%;
}

.item-button-right {
    position: absolute;
    right: 10px;
}

.MuiCardContent-root {
    padding: 0px;
}

.MuiCardContent-root:last-child {
    padding-bottom: 0px;
}

.MuiCardActions-root {
    padding: 0px;
}
