.master-container {
    position: relative;

    ul {
        top: 0;
        
    }

    .addnew {
        position: absolute;
        bottom: 0px;
        padding: 10px;
        width: 100%;
    }
}